<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Style -->
     <link
     rel="stylesheet"
     href="{{ url_for('static', filename='css/style.css') }}"
   />
   <link
     rel="stylesheet"
     href="{{ url_for('static', filename='fonts/icomoon/style.css') }}"
   />
  
    <title>MAVEN - Profile Setup</title>
</head>
<body onload="displayCategories()">
    <header class="profile-header">
        <div class="logo">
            <h1>MAVEN</h1>
        </div>
        <div class="profile-heading"><h3>Profile Setup</h3></div>
        <div></div>
    </header>
    
    <div id="multi-step-form-container">
        <!-- Form Steps / Progress Bar -->
        <ul
          class="form-stepper form-stepper-horizontal text-center mx-auto pl-0"
        >
          <!-- Step 1 -->
          <li
            class="form-stepper-active text-center form-stepper-list"
            step="1"
          >
            <a class="mx-2">
              <span class="form-stepper-circle">
                <span>1</span>
              </span>
              <div class="label">Username</div>
            </a>
          </li>
          <!-- Step 2 -->
          <li
            class="form-stepper-unfinished text-center form-stepper-list"
            step="2"
          >
            <a class="mx-2">
              <span class="form-stepper-circle text-muted">
                <span>2</span>
              </span>
              <div class="label text-muted">
                Skills
              </div>
            </a>
          </li>
          <!-- Step 3 -->
          <li
            class="form-stepper-unfinished text-center form-stepper-list"
            step="3"
          >
            <a class="mx-2">
              <span class="form-stepper-circle text-muted">
                <span>3</span>
              </span>
              <div class="label text-muted">Profile Details</div>
            </a>
          </li>
          <!-- Step 4 -->
          <li
            class="form-stepper-unfinished text-center form-stepper-list"
            step="4"
          >
            <a class="mx-2">
              <span class="form-stepper-circle text-muted">
                <span>4</span>
              </span>
              <div class="label text-muted">
                Profile Details
              </div>
            </a>
          </li>
        </ul>
        <main class="main">
        <!-- Step Wise Form Content -->
        <form action="{{ url_for('users.profile') }}" enctype="multipart/form-data" method="POST">

          <!-- Step 1 Content -->
          <section id="step-1" class="form-step" step="0">
            <h2 class="step-heading">Choose Your Username</h2>
            <div class="mt-3 inputs-container inputs-container-username">
              <div>
                <input
                  type="text"
                  placeholder="e.g 'Tawadev'"
                  name="username"
                  id="username"
                  required
                />

                <p class="err hideErr">field required</p>
              </div>
              
            </div>
            <div class="mt-3 btn-container">
              <button
                class="button btn-navigate-form-step"
                type="button"
                step_number="2"
                next="1"
              >
                Next
              </button>
            </div>
          </section>
          <!-- Step 2 Content, default hidden on page load. -->
          <section id="step-2" class="form-step step-2 d-none" step="1">
            <div class="step-heading-container">
              <h2 class="step-heading step2-heading">Tell us your top skills</h2>
              <span class="sub-heading">This helps us recommend jobs for you</span>
            </div>
            <!-- Step 2 body -->
            <div class="step-body">
              <div class="step-child step-child-1">
                <h4>Select a category</h4>
                <div class="step-child-body" id="categoriesContainer">
    
                </div>
              </div>
              <div class="step-child step-child-2">
                <h4 class="category-heading">No category selected</h4>
                <div class="step-child-body">
                  <div class="step-child-content" id="cValueContainer">
                    <p>Select a category to start adding skills to your profile</p>
                    
                  </div>
                </div>
              </div>
              <div class="step-child step-child-3">
                <h4><span class="numSkills">0</span> skills selected</h4>
                <div class="step-child-body">
                  <div class="step-child-content step-child-content-3" id="skillsContainer">
                    <p>Select at least one skill to help us recommend customized jobs for you</p>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-3 btn-container">
              <button
                class="button btn-navigate-form-step"
                type="button"
                step_number="1"
                next="0"
              >
                Prev
              </button>
              <button
                class="button btn-navigate-form-step"
                type="button"
                step_number="3"
                next="1"
                onclick="getSkills()"
              >
                Next
              </button>
            </div>
          </section>
          <!-- Step 3 Content, default hidden on page load. -->
          <section id="step-3" class="form-step step-3 d-none" step="2">
            <div class="step-body-3">
               <div class="photo-container">
               <output><div class="image">
                <span class="icon-person_outline photo-icon"></span>
                </div></output>
                <label for="upload-photo" class="icon-camera photo-label"></label>
              </div>
               <input type="file" accept="image/jpeg, image/png, image/jpg" name="image_file" id="upload-photo">
               <div class="step-body-3-content">
                  <h2 class="step2-heading">Tell us a bit about yourself</h2>
                  <p class="sub-heading">Fill out your profile for clients to better understand your services</p>
                  <h3 class="step2-heading">What is your name?</h3>
                  <p class="sub-heading">Fullname</p>
                  <div>
                    <input
                      type="text"
                      placeholder="Enter your fullname"
                      name="fullname"
                      id="fullname"
                      required
                    />
    
                    <p class="err err1 hideErr">field required</p>
                  </div>
                  <h3 class="step2-heading">What do you do?</h3>
                  <p class="sub-heading">Write a one line description about yourself</p>
                  <div>
                    <input
                      type="text"
                      placeholder="e.g Software Engineer"
                      name="profession"
                      id="fullname"
                      required
                    />
    
                    <p class="err hideErr">field required</p>
                  </div>
                  <h3 class="step2-heading">Rate?</h3>
                  <p class="sub-heading">What is your rate per hour for your services</p>
                  <div>
                    <input
                      type="text"
                      placeholder="e.g '60'"
                      name="rate"
                      id="fullname"
                      required
                    />
    
                    <p class="err hideErr">field required</p>
                  </div>
                  <h3 class="step2-heading">Describe yourself</h3>
                  <div>
                    <textarea required name="description" class="description" cols="50" rows="8" placeholder="Describe your top strengths, and experiences. Provide more detail on the services you offer, things you are interested in on, and what you like to do."></textarea>
    
                    <p class="err hideErr">field required</p>
                  </div>
               </div>
            </div>
            <div class="mt-3 btn-container">
              <button
                class="button btn-navigate-form-step"
                type="button"
                step_number="2"
                next="0"
              >
                Prev
              </button>
              <button
                class="button btn-navigate-form-step"
                type="button"
                step_number="4"
                next="1"
              >
                Next
              </button>
            </div>
          </section>
          <!-- Step 4 Content, default hidden on page load. -->
          <section id="step-4" class="form-step step-3 d-none" step="3">
            <div class="step-body-3">
              <div class="step-body-3-content">
                 <h3 class="step2-heading">What languages do you speak?</h3>
                 <p class="sub-heading">We will use this to match you with employers who are fluent in these languages.</p>
                 <div>
                   <input
                     type="text"
                     placeholder="e.g 'English, Shona'"
                     name="languages"
                     id="fullname"
                     required
                   />
   
                   <p class="err err1 hideErr">field required</p>
                 </div>
                 <h3 class="step2-heading">Where are you located?</h3>
                 <p class="sub-heading">Only your city and country will be shown publicily.</p>
                 <div>
                   <input
                     type="text"
                     placeholder="e.g 281 Slater Avenue, Harare, Zimbabwe"
                     name="home_address"
                     id="fullname"
                     required
                   />
   
                   <p class="err hideErr">field required</p>
                 </div>
              </div>
           </div>

            <div class="mt-3 btn-container">
              <button
                class="button btn-navigate-form-step"
                type="button"
                step_number="3"
                next="0"
              >
                Prev
              </button>
              <button class="button submit-btn" type="submit" next="1">
                Save
              </button>
            </div>
          </section>
        </form>
    </main>
    </div>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>